In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df=application_df.drop(columns=['EIN','NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
app_counts=application_df['APPLICATION_TYPE'].value_counts()

# uses the variable name `application_types_to_replace`
max_app_counts = 528

application_types_to_replace = app_counts[app_counts<max_app_counts].index.tolist()
# Replaces in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [4]:
class_counts = application_df['CLASSIFICATION'].value_counts()
# uses the variable name `classifications_to_replace`
max_classcount = 1883
classifications_to_replace = class_counts[class_counts<max_classcount].index.tolist()
# Replaces in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [5]:
# Converts categorical data to numeric with `pd.get_dummies`
dummy_cats = ['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','STATUS','INCOME_AMT','SPECIAL_CONSIDERATIONS']
dummies_df=pd.get_dummies(application_df, columns=dummy_cats)

dummies_df

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,5000,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,5000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,5000,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,36500179,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [6]:

# Splits  preprocessed data into our features and target arrays
y = dummies_df['IS_SUCCESSFUL'].values
X = dummies_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [7]:
# Creates a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [20]:
# OPTIMIZATION ATTEMPT 1: 'Added Neurons to hidden layer'
# using the neuron rule of thumb, but making it three times the amount of features after numericizing the categorical data (132 neurons).

# Defines the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer_1= 3*number_input_features
hidden_nodes_layer_2 = 3*number_input_features
hidden_nodes_layer_3 = 3*number_input_features

nn1 = tf.keras.models.Sequential()

# First hidden layer
nn1.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer_1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn1.add(tf.keras.layers.Dense(units=hidden_nodes_layer_2, activation="relu"))

# Output layer
nn1.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

nn1.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 132)               5940

 dense_9 (Dense)             (None, 132)               17556

 dense_10 (Dense)            (None, 1)                 133

=================================================================
Total params: 23,629
Trainable params: 23,629
Non-trainable params: 0
_________________________________________________________________

In [25]:
# Compile the model
nn1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
fit_model = nn1.fit(X_train_scaled,y_train,epochs=100, validation_data=(X_test_scaled, y_test), verbose=1)

Epoch 1/100
804/804 [==============================] - 5s 5ms/step - loss: 0.5709 - accuracy: 0.7228 - val_loss: 0.5637 - val_accuracy: 0.7201
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5557 - accuracy: 0.7296 - val_loss: 0.5633 - val_accuracy: 0.7223
Epoch 3/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5522 - accuracy: 0.7322 - val_loss: 0.5594 - val_accuracy: 0.7234
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5501 - accuracy: 0.7327 - val_loss: 0.5613 - val_accuracy: 0.7248
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5484 - accuracy: 0.7340 - val_loss: 0.5544 - val_accuracy: 0.7245
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5478 - accuracy: 0.7348 - val_loss: 0.5565 - val_accuracy: 0.7217
Epoch 7/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5469 - accuracy: 0.7346 - val_loss: 0.5577 - val_accuracy: 0.7242
Epoch 8/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5462 - accuracy: 0.7355 - val_loss: 0.5564 - val_accuracy: 0.7240
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5456 - accuracy: 0.7363 - val_loss: 0.5548 - val_accuracy: 0.7250
Epoch 10/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5452 - accuracy: 0.7353 - val_loss: 0.5539 - val_accuracy: 0.7233
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5446 - accuracy: 0.7363 - val_loss: 0.5535 - val_accuracy: 0.7248
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5440 - accuracy: 0.7379 - val_loss: 0.5570 - val_accuracy: 0.7258
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5438 - accuracy: 0.7369 - val_loss: 0.5537 - val_accuracy: 0.7240
Epoch 14/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5428 - accuracy: 0.7369 - val_loss: 0.5567 - val_accuracy: 0.7224
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5423 - accuracy: 0.7367 - val_loss: 0.5554 - val_accuracy: 0.7264
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7369 - val_loss: 0.5585 - val_accuracy: 0.7249
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5421 - accuracy: 0.7379 - val_loss: 0.5546 - val_accuracy: 0.7258
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5417 - accuracy: 0.7379 - val_loss: 0.5560 - val_accuracy: 0.7248
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5421 - accuracy: 0.7378 - val_loss: 0.5549 - val_accuracy: 0.7271
Epoch 20/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5408 - accuracy: 0.7382 - val_loss: 0.5555 - val_accuracy: 0.7249
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5409 - accuracy: 0.7381 - val_loss: 0.5550 - val_accuracy: 0.7259
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5413 - accuracy: 0.7385 - val_loss: 0.5544 - val_accuracy: 0.7248
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5399 - accuracy: 0.7389 - val_loss: 0.5588 - val_accuracy: 0.7219
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5405 - accuracy: 0.7396 - val_loss: 0.5564 - val_accuracy: 0.7261
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5404 - accuracy: 0.7390 - val_loss: 0.5530 - val_accuracy: 0.7263
Epoch 26/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5396 - accuracy: 0.7389 - val_loss: 0.5571 - val_accuracy: 0.7236
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5397 - accuracy: 0.7394 - val_loss: 0.5602 - val_accuracy: 0.7240
Epoch 28/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5395 - accuracy: 0.7382 - val_loss: 0.5566 - val_accuracy: 0.7262
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5393 - accuracy: 0.7394 - val_loss: 0.5550 - val_accuracy: 0.7271
Epoch 30/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5393 - accuracy: 0.7395 - val_loss: 0.5573 - val_accuracy: 0.7268
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5393 - accuracy: 0.7404 - val_loss: 0.5564 - val_accuracy: 0.7256
Epoch 32/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5388 - accuracy: 0.7405 - val_loss: 0.5575 - val_accuracy: 0.7258
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5382 - accuracy: 0.7400 - val_loss: 0.5581 - val_accuracy: 0.7258
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5383 - accuracy: 0.7397 - val_loss: 0.5603 - val_accuracy: 0.7254
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7397 - val_loss: 0.5584 - val_accuracy: 0.7265
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5386 - accuracy: 0.7397 - val_loss: 0.5577 - val_accuracy: 0.7256
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5373 - accuracy: 0.7401 - val_loss: 0.5619 - val_accuracy: 0.7258
Epoch 38/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5376 - accuracy: 0.7398 - val_loss: 0.5599 - val_accuracy: 0.7249
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7402 - val_loss: 0.5589 - val_accuracy: 0.7254
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7405 - val_loss: 0.5577 - val_accuracy: 0.7244
Epoch 41/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5373 - accuracy: 0.7404 - val_loss: 0.5599 - val_accuracy: 0.7251
Epoch 42/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5371 - accuracy: 0.7402 - val_loss: 0.5584 - val_accuracy: 0.7255
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7400 - val_loss: 0.5598 - val_accuracy: 0.7233
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7404 - val_loss: 0.5591 - val_accuracy: 0.7262
Epoch 45/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5372 - accuracy: 0.7395 - val_loss: 0.5591 - val_accuracy: 0.7256
Epoch 46/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5370 - accuracy: 0.7397 - val_loss: 0.5596 - val_accuracy: 0.7244
Epoch 47/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5378 - accuracy: 0.7410 - val_loss: 0.5636 - val_accuracy: 0.7264
Epoch 48/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5367 - accuracy: 0.7408 - val_loss: 0.5652 - val_accuracy: 0.7241
Epoch 49/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5364 - accuracy: 0.7402 - val_loss: 0.5587 - val_accuracy: 0.7252
Epoch 50/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5358 - accuracy: 0.7411 - val_loss: 0.5620 - val_accuracy: 0.7265
Epoch 51/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5361 - accuracy: 0.7409 - val_loss: 0.5611 - val_accuracy: 0.7259
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5365 - accuracy: 0.7404 - val_loss: 0.5635 - val_accuracy: 0.7271
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5359 - accuracy: 0.7403 - val_loss: 0.5648 - val_accuracy: 0.7248
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5356 - accuracy: 0.7411 - val_loss: 0.5633 - val_accuracy: 0.7231
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5352 - accuracy: 0.7406 - val_loss: 0.5614 - val_accuracy: 0.7261
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5354 - accuracy: 0.7408 - val_loss: 0.5684 - val_accuracy: 0.7256
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5357 - accuracy: 0.7414 - val_loss: 0.5658 - val_accuracy: 0.7256
Epoch 58/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7409 - val_loss: 0.5657 - val_accuracy: 0.7259
Epoch 59/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5351 - accuracy: 0.7417 - val_loss: 0.5663 - val_accuracy: 0.7255
Epoch 60/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5355 - accuracy: 0.7414 - val_loss: 0.5635 - val_accuracy: 0.7264
Epoch 61/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5354 - accuracy: 0.7411 - val_loss: 0.5662 - val_accuracy: 0.7251
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5353 - accuracy: 0.7406 - val_loss: 0.5680 - val_accuracy: 0.7254
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5348 - accuracy: 0.7413 - val_loss: 0.5644 - val_accuracy: 0.7257
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7413 - val_loss: 0.5656 - val_accuracy: 0.7244
Epoch 65/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5351 - accuracy: 0.7409 - val_loss: 0.5672 - val_accuracy: 0.7252
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5345 - accuracy: 0.7414 - val_loss: 0.5663 - val_accuracy: 0.7262
Epoch 67/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5343 - accuracy: 0.7412 - val_loss: 0.5659 - val_accuracy: 0.7259
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5344 - accuracy: 0.7414 - val_loss: 0.5657 - val_accuracy: 0.7244
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5345 - accuracy: 0.7411 - val_loss: 0.5656 - val_accuracy: 0.7251
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7413 - val_loss: 0.5700 - val_accuracy: 0.7257
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5347 - accuracy: 0.7415 - val_loss: 0.5707 - val_accuracy: 0.7250
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5344 - accuracy: 0.7411 - val_loss: 0.5659 - val_accuracy: 0.7257
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5362 - accuracy: 0.7410 - val_loss: 0.5658 - val_accuracy: 0.7254
Epoch 74/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5340 - accuracy: 0.7419 - val_loss: 0.5654 - val_accuracy: 0.7252
Epoch 75/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5341 - accuracy: 0.7412 - val_loss: 0.5657 - val_accuracy: 0.7268
Epoch 76/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5340 - accuracy: 0.7413 - val_loss: 0.5727 - val_accuracy: 0.7263
Epoch 77/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5343 - accuracy: 0.7414 - val_loss: 0.5668 - val_accuracy: 0.7256
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5337 - accuracy: 0.7414 - val_loss: 0.5714 - val_accuracy: 0.7258
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5343 - accuracy: 0.7413 - val_loss: 0.5691 - val_accuracy: 0.7241
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7411 - val_loss: 0.5666 - val_accuracy: 0.7251
Epoch 81/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5336 - accuracy: 0.7423 - val_loss: 0.5716 - val_accuracy: 0.7262
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5339 - accuracy: 0.7419 - val_loss: 0.5676 - val_accuracy: 0.7249
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5336 - accuracy: 0.7422 - val_loss: 0.5713 - val_accuracy: 0.7264
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5340 - accuracy: 0.7418 - val_loss: 0.5713 - val_accuracy: 0.7261
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7414 - val_loss: 0.5682 - val_accuracy: 0.7263
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5340 - accuracy: 0.7415 - val_loss: 0.5673 - val_accuracy: 0.7265
Epoch 87/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5344 - accuracy: 0.7417 - val_loss: 0.5711 - val_accuracy: 0.7249
Epoch 88/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5335 - accuracy: 0.7413 - val_loss: 0.5714 - val_accuracy: 0.7264
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5337 - accuracy: 0.7421 - val_loss: 0.5717 - val_accuracy: 0.7271
Epoch 90/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5335 - accuracy: 0.7415 - val_loss: 0.5730 - val_accuracy: 0.7249
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5333 - accuracy: 0.7416 - val_loss: 0.5712 - val_accuracy: 0.7249
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5337 - accuracy: 0.7420 - val_loss: 0.5694 - val_accuracy: 0.7251
Epoch 93/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5334 - accuracy: 0.7425 - val_loss: 0.5699 - val_accuracy: 0.7250
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5332 - accuracy: 0.7420 - val_loss: 0.5706 - val_accuracy: 0.7262
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5334 - accuracy: 0.7410 - val_loss: 0.5713 - val_accuracy: 0.7268
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5333 - accuracy: 0.7419 - val_loss: 0.5687 - val_accuracy: 0.7264
Epoch 97/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5329 - accuracy: 0.7419 - val_loss: 0.5738 - val_accuracy: 0.7265
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5329 - accuracy: 0.7418 - val_loss: 0.5735 - val_accuracy: 0.7263
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5331 - accuracy: 0.7419 - val_loss: 0.5728 - val_accuracy: 0.7252
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5333 - accuracy: 0.7419 - val_loss: 0.5730 - val_accuracy: 0.7235

In [27]:
# Evaluates Optimization model 1 using the test data
model_loss, model_accuracy = nn1.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5730 - accuracy: 0.7235 - 422ms/epoch - 2ms/step
Loss: 0.5730211138725281, Accuracy: 0.723498523235321

In [28]:
# Saves Optimization model 1 to HDF5
nn1.save('AlphabetSoupCharity_Optimisation1.h5')

In [41]:
# OPTIMIZATION ATTEMPT #2 REDUCED NEURONS + ADDED LAYER
## Adding fourth layer (1 input, 2 hidden, 1 output) consisting of 27 neurons.

nn2 = tf.keras.models.Sequential()

# First hidden layer
nn2.add(
    tf.keras.layers.Dense(units=27, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn2.add(tf.keras.layers.Dense(units=27, activation="relu"))

# Third hidden layer
nn2.add(tf.keras.layers.Dense(units=27, activation="relu"))

# Output layer
nn2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

nn2.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_27 (Dense)            (None, 27)                1215

 dense_28 (Dense)            (None, 27)                756

 dense_29 (Dense)            (None, 27)                756

 dense_30 (Dense)            (None, 1)                 28

=================================================================
Total params: 2,755
Trainable params: 2,755
Non-trainable params: 0
_________________________________________________________________

In [42]:
# Compiles the model
nn2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [43]:
fit_model = nn2.fit(X_train_scaled,y_train,epochs=100, validation_data=(X_test_scaled, y_test), verbose=1)

Epoch 1/100
804/804 [==============================] - 4s 3ms/step - loss: 0.5754 - accuracy: 0.7199 - val_loss: 0.5628 - val_accuracy: 0.7217
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5556 - accuracy: 0.7326 - val_loss: 0.5636 - val_accuracy: 0.7228
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5532 - accuracy: 0.7321 - val_loss: 0.5584 - val_accuracy: 0.7237
Epoch 4/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5511 - accuracy: 0.7338 - val_loss: 0.5594 - val_accuracy: 0.7230
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5497 - accuracy: 0.7344 - val_loss: 0.5587 - val_accuracy: 0.7254
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5489 - accuracy: 0.7340 - val_loss: 0.5586 - val_accuracy: 0.7227
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5483 - accuracy: 0.7342 - val_loss: 0.5604 - val_accuracy: 0.7213
Epoch 8/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5474 - accuracy: 0.7350 - val_loss: 0.5564 - val_accuracy: 0.7240
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5470 - accuracy: 0.7350 - val_loss: 0.5576 - val_accuracy: 0.7226
Epoch 10/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5464 - accuracy: 0.7357 - val_loss: 0.5555 - val_accuracy: 0.7249
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7350 - val_loss: 0.5587 - val_accuracy: 0.7241
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5461 - accuracy: 0.7358 - val_loss: 0.5555 - val_accuracy: 0.7250
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5449 - accuracy: 0.7363 - val_loss: 0.5576 - val_accuracy: 0.7255
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7359 - val_loss: 0.5542 - val_accuracy: 0.7250
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5444 - accuracy: 0.7358 - val_loss: 0.5566 - val_accuracy: 0.7258
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5440 - accuracy: 0.7362 - val_loss: 0.5550 - val_accuracy: 0.7254
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5435 - accuracy: 0.7361 - val_loss: 0.5545 - val_accuracy: 0.7248
Epoch 18/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5431 - accuracy: 0.7364 - val_loss: 0.5552 - val_accuracy: 0.7250
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5432 - accuracy: 0.7368 - val_loss: 0.5551 - val_accuracy: 0.7263
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5434 - accuracy: 0.7366 - val_loss: 0.5573 - val_accuracy: 0.7251
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7375 - val_loss: 0.5544 - val_accuracy: 0.7264
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5428 - accuracy: 0.7375 - val_loss: 0.5559 - val_accuracy: 0.7234
Epoch 23/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5428 - accuracy: 0.7381 - val_loss: 0.5567 - val_accuracy: 0.7242
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5421 - accuracy: 0.7374 - val_loss: 0.5555 - val_accuracy: 0.7261
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5417 - accuracy: 0.7362 - val_loss: 0.5564 - val_accuracy: 0.7243
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7374 - val_loss: 0.5560 - val_accuracy: 0.7264
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5414 - accuracy: 0.7378 - val_loss: 0.5574 - val_accuracy: 0.7243
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5417 - accuracy: 0.7373 - val_loss: 0.5555 - val_accuracy: 0.7245
Epoch 29/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5416 - accuracy: 0.7374 - val_loss: 0.5585 - val_accuracy: 0.7240
Epoch 30/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5411 - accuracy: 0.7375 - val_loss: 0.5579 - val_accuracy: 0.7244
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5411 - accuracy: 0.7389 - val_loss: 0.5581 - val_accuracy: 0.7242
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7372 - val_loss: 0.5556 - val_accuracy: 0.7258
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5408 - accuracy: 0.7378 - val_loss: 0.5579 - val_accuracy: 0.7250
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5403 - accuracy: 0.7392 - val_loss: 0.5560 - val_accuracy: 0.7220
Epoch 35/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5402 - accuracy: 0.7379 - val_loss: 0.5575 - val_accuracy: 0.7254
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5402 - accuracy: 0.7378 - val_loss: 0.5589 - val_accuracy: 0.7248
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7392 - val_loss: 0.5570 - val_accuracy: 0.7245
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5401 - accuracy: 0.7395 - val_loss: 0.5551 - val_accuracy: 0.7241
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5399 - accuracy: 0.7388 - val_loss: 0.5563 - val_accuracy: 0.7258
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5391 - accuracy: 0.7399 - val_loss: 0.5564 - val_accuracy: 0.7251
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7390 - val_loss: 0.5551 - val_accuracy: 0.7248
Epoch 42/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5394 - accuracy: 0.7388 - val_loss: 0.5574 - val_accuracy: 0.7236
Epoch 43/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5396 - accuracy: 0.7388 - val_loss: 0.5561 - val_accuracy: 0.7258
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5391 - accuracy: 0.7391 - val_loss: 0.5565 - val_accuracy: 0.7245
Epoch 45/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5394 - accuracy: 0.7392 - val_loss: 0.5576 - val_accuracy: 0.7220
Epoch 46/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5392 - accuracy: 0.7389 - val_loss: 0.5569 - val_accuracy: 0.7259
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5395 - accuracy: 0.7392 - val_loss: 0.5557 - val_accuracy: 0.7242
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7393 - val_loss: 0.5576 - val_accuracy: 0.7252
Epoch 49/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5389 - accuracy: 0.7382 - val_loss: 0.5589 - val_accuracy: 0.7264
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7401 - val_loss: 0.5549 - val_accuracy: 0.7251
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5385 - accuracy: 0.7396 - val_loss: 0.5563 - val_accuracy: 0.7251
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5386 - accuracy: 0.7395 - val_loss: 0.5565 - val_accuracy: 0.7245
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5382 - accuracy: 0.7404 - val_loss: 0.5578 - val_accuracy: 0.7228
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5385 - accuracy: 0.7388 - val_loss: 0.5561 - val_accuracy: 0.7255
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5383 - accuracy: 0.7392 - val_loss: 0.5569 - val_accuracy: 0.7263
Epoch 56/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5381 - accuracy: 0.7397 - val_loss: 0.5566 - val_accuracy: 0.7243
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5378 - accuracy: 0.7387 - val_loss: 0.5570 - val_accuracy: 0.7258
Epoch 58/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5381 - accuracy: 0.7402 - val_loss: 0.5572 - val_accuracy: 0.7247
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5380 - accuracy: 0.7397 - val_loss: 0.5583 - val_accuracy: 0.7242
Epoch 60/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5378 - accuracy: 0.7400 - val_loss: 0.5588 - val_accuracy: 0.7243
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7400 - val_loss: 0.5558 - val_accuracy: 0.7251
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7401 - val_loss: 0.5566 - val_accuracy: 0.7230
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5375 - accuracy: 0.7402 - val_loss: 0.5585 - val_accuracy: 0.7257
Epoch 64/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5374 - accuracy: 0.7399 - val_loss: 0.5604 - val_accuracy: 0.7263
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7406 - val_loss: 0.5582 - val_accuracy: 0.7243
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7393 - val_loss: 0.5566 - val_accuracy: 0.7240
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7405 - val_loss: 0.5585 - val_accuracy: 0.7236
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5371 - accuracy: 0.7404 - val_loss: 0.5577 - val_accuracy: 0.7237
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5374 - accuracy: 0.7406 - val_loss: 0.5583 - val_accuracy: 0.7244
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7402 - val_loss: 0.5612 - val_accuracy: 0.7238
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5368 - accuracy: 0.7397 - val_loss: 0.5589 - val_accuracy: 0.7244
Epoch 72/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5370 - accuracy: 0.7411 - val_loss: 0.5563 - val_accuracy: 0.7240
Epoch 73/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5370 - accuracy: 0.7399 - val_loss: 0.5582 - val_accuracy: 0.7229
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7406 - val_loss: 0.5592 - val_accuracy: 0.7244
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7407 - val_loss: 0.5593 - val_accuracy: 0.7217
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7411 - val_loss: 0.5588 - val_accuracy: 0.7236
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7408 - val_loss: 0.5585 - val_accuracy: 0.7244
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5365 - accuracy: 0.7397 - val_loss: 0.5588 - val_accuracy: 0.7238
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5368 - accuracy: 0.7409 - val_loss: 0.5603 - val_accuracy: 0.7235
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7402 - val_loss: 0.5602 - val_accuracy: 0.7252
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7408 - val_loss: 0.5586 - val_accuracy: 0.7247
Epoch 82/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5368 - accuracy: 0.7409 - val_loss: 0.5598 - val_accuracy: 0.7257
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5363 - accuracy: 0.7409 - val_loss: 0.5612 - val_accuracy: 0.7229
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5362 - accuracy: 0.7402 - val_loss: 0.5597 - val_accuracy: 0.7240
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7407 - val_loss: 0.5602 - val_accuracy: 0.7236
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7406 - val_loss: 0.5603 - val_accuracy: 0.7262
Epoch 87/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5358 - accuracy: 0.7404 - val_loss: 0.5602 - val_accuracy: 0.7242
Epoch 88/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5362 - accuracy: 0.7411 - val_loss: 0.5575 - val_accuracy: 0.7231
Epoch 89/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5356 - accuracy: 0.7410 - val_loss: 0.5614 - val_accuracy: 0.7238
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7401 - val_loss: 0.5591 - val_accuracy: 0.7236
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7411 - val_loss: 0.5609 - val_accuracy: 0.7263
Epoch 92/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5355 - accuracy: 0.7413 - val_loss: 0.5628 - val_accuracy: 0.7249
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5359 - accuracy: 0.7410 - val_loss: 0.5609 - val_accuracy: 0.7254
Epoch 94/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5357 - accuracy: 0.7410 - val_loss: 0.5619 - val_accuracy: 0.7229
Epoch 95/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5353 - accuracy: 0.7408 - val_loss: 0.5605 - val_accuracy: 0.7244
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5354 - accuracy: 0.7411 - val_loss: 0.5614 - val_accuracy: 0.7243
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5358 - accuracy: 0.7418 - val_loss: 0.5600 - val_accuracy: 0.7248
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7406 - val_loss: 0.5631 - val_accuracy: 0.7236
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7402 - val_loss: 0.5629 - val_accuracy: 0.7245
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5354 - accuracy: 0.7400 - val_loss: 0.5624 - val_accuracy: 0.7230

In [44]:
model_loss, model_accuracy = nn2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5624 - accuracy: 0.7230 - 369ms/epoch - 1ms/step
Loss: 0.5623911619186401, Accuracy: 0.7230320572853088

In [45]:
nn2.save('AlphabetSoupCharity_Optimisation2.h5')

In [48]:
#OPTIMIZATION MODEL 3 (REDUCED INPUT FEATURES, INCREASED NEURONS, )
reduced_df=application_df.drop(columns=['APPLICATION_TYPE','CLASSIFICATION',"STATUS","SPECIAL_CONSIDERATIONS"])
reduced_dummy_cats = ['AFFILIATION','USE_CASE','ORGANIZATION','INCOME_AMT']
reduced_dummies = pd.get_dummies(reduced_df, columns = reduced_dummy_cats)
reduced_dummies

,ASK_AMT,IS_SUCCESSFUL,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,USE_CASE_CommunityServ,USE_CASE_Heathcare,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,1,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34295,5000,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34296,5000,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,5000,1,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34298,36500179,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [50]:
# Splits our preprocessed data into our features and target arrays
y = reduced_dummies['IS_SUCCESSFUL'].values
X = reduced_dummies.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [51]:
len(X_test_scaled[0])

25

In [77]:
# Defines the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer_1= 3*number_input_features
hidden_nodes_layer_2 = 3*number_input_features
hidden_nodes_layer_3 = 3*number_input_features

nn3 = tf.keras.models.Sequential()

# First hidden layer
nn3.add(
    tf.keras.layers.Dense(units=75, input_dim=number_input_features, activation="LeakyReLU")
)

# Second hidden layer
nn3.add(tf.keras.layers.Dense(units=75, activation="LeakyReLU"))

# Second hidden layer
nn3.add(tf.keras.layers.Dense(units=75, activation="LeakyReLU"))

# Output layer
nn3.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn3.summary()

Model: "sequential_19"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_70 (Dense)            (None, 75)                1950

 dense_71 (Dense)            (None, 75)                5700

 dense_72 (Dense)            (None, 75)                5700

 dense_73 (Dense)            (None, 1)                 76

=================================================================
Total params: 13,426
Trainable params: 13,426
Non-trainable params: 0
_________________________________________________________________

In [78]:
# Compiles the model
nn3.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [79]:
fit_model = nn3.fit(X_train_scaled,y_train,epochs=100, validation_data=(X_test_scaled, y_test), verbose=1)

Epoch 1/100
804/804 [==============================] - 4s 4ms/step - loss: 0.6098 - accuracy: 0.6941 - val_loss: 0.6071 - val_accuracy: 0.6915
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6024 - accuracy: 0.6969 - val_loss: 0.6148 - val_accuracy: 0.6931
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6018 - accuracy: 0.6971 - val_loss: 0.6077 - val_accuracy: 0.6918
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6007 - accuracy: 0.6990 - val_loss: 0.6032 - val_accuracy: 0.6945
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6000 - accuracy: 0.6991 - val_loss: 0.6034 - val_accuracy: 0.6939
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5998 - accuracy: 0.6988 - val_loss: 0.6100 - val_accuracy: 0.6880
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6003 - accuracy: 0.6984 - val_loss: 0.6043 - val_accuracy: 0.6907
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5999 - accuracy: 0.6984 - val_loss: 0.6032 - val_accuracy: 0.6936
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5998 - accuracy: 0.6986 - val_loss: 0.6039 - val_accuracy: 0.6926
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5994 - accuracy: 0.6993 - val_loss: 0.6040 - val_accuracy: 0.6932
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5994 - accuracy: 0.6993 - val_loss: 0.6019 - val_accuracy: 0.6935
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5993 - accuracy: 0.7001 - val_loss: 0.6039 - val_accuracy: 0.6935
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5994 - accuracy: 0.6985 - val_loss: 0.6018 - val_accuracy: 0.6963
Epoch 14/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5990 - accuracy: 0.6995 - val_loss: 0.6046 - val_accuracy: 0.6955
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5989 - accuracy: 0.7003 - val_loss: 0.6024 - val_accuracy: 0.6976
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5986 - accuracy: 0.7009 - val_loss: 0.6058 - val_accuracy: 0.6967
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5988 - accuracy: 0.7000 - val_loss: 0.6024 - val_accuracy: 0.6970
Epoch 18/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5986 - accuracy: 0.7009 - val_loss: 0.6021 - val_accuracy: 0.6946
Epoch 19/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5988 - accuracy: 0.6993 - val_loss: 0.6025 - val_accuracy: 0.6971
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5980 - accuracy: 0.6992 - val_loss: 0.6039 - val_accuracy: 0.6968
Epoch 21/100
570/804 [====================>.........] - ETA: 0s - loss: 0.5984 - accuracy: 0.6989

KeyboardInterrupt: ignored